#cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: gray;
    border: 1px white solid;

    position: absolute;

    transition: all .2s ease-out;
}

.mouse {
    transition: all .2s ease-out;
}

.mouse:hover {

}